<!-- Belajar pengaturan layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- viewport itu fungsinya kunci utama kenapa dia kok bisa nyesuain ukuran device lain lain  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- menyewa hosting hosting -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ada 3 js yang harus didownload -->
        <title>PENGATURAN LAYOUT RESPONSIVE</title>
</head>
<body>
   <h1>HEYO WASSUP</h1> 
   <div class ="container border" >
        <h1>HEYO WASSUP BROOO😎</h1>
   </div>
   </div>

   <div class ="container-fluid border" >
    <h1>HEYO WASSUP</h1>
   </div>
</body>
</html>